@import url(http://weloveiconfonts.com/api/?family=brandico);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

hr {
  border: none;
  border: 1px dotted #BBBBBB;
  margin-top: 15px;
  margin-bottom: 15px; }

ul {
  list-style: none;
  padding: 0; }

.container {
  width: 1000px;
  margin: 30px auto; }

header {
  overflow: hidden;
  width: 1000px; }
  header .logo {
    float: left;
    width: 300px; }
    header .logo img {
      padding-top: 15px;
      width: 400px; }
  header .socialmedia {
    float: right;
    width: 250px;
    height: 100px;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB;
    text-align: center; }
    header .socialmedia li {
      display: inline-block;
      color: #C63D10;
      font-size: 3em;
      padding: 10px; }

.banner {
  overflow: hidden;
  width: 1000px; }
  .banner img {
    width: 1000px; }

.stuff {
  margin-top: 12px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .stuff::after {
    clear: both;
    content: "";
    display: table; }
  .stuff .news {
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 225px;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB;
    border: 1px solid #BBBBBB; }
    .stuff .news:last-child {
      margin-right: 0; }
    .stuff .news .subTitle {
      display: inline-block;
      font-size: 0.8em;
      font-style: italic;
      font-weight: bold; }
    .stuff .news .date {
      display: inline-block;
      font-size: 0.8em;
      margin-left: 50px;
      font-style: italic;
      font-weight: bold; }
    .stuff .news .post {
      font-size: 0.8em; }
  .stuff .special {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 225px;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB;
    overflow: hidden; }
    .stuff .special:last-child {
      margin-right: 0; }
    .stuff .special .specialImage {
      height: 70px;
      background-image: url(../app/images/Sea_scallops.jpg);
      background-size: cover;
      overflow: hidden;
      font-family: helvetica; }
    .stuff .special .specialItem {
      display: inline-block;
      font-size: 0.8em;
      font-style: italic;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .stuff .special .specialItem:after {
      content: " ..................................................................................................."; }
    .stuff .special .specialPrice {
      display: inline-block;
      font-size: 0.8em;
      margin-left: 50px; }
  .stuff .location {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 225px;
    border: 1px solid red;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB; }
    .stuff .location:last-child {
      margin-right: 0; }
    .stuff .location #resAddr {
      text-align: center;
      font-size: 12px; }
    .stuff .location #telFax {
      text-align: center;
      font-size: 12px; }
    .stuff .location #map {
      border: 1px solid #BBBBBB;
      width: 280px;
      height: 90px;
      margin-left: auto;
      margin-right: auto; }

.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .tabContainer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    display: inline;
    margin-top: 30px; }
    .content .tabContainer:last-child {
      margin-right: 0; }
    .content .tabContainer .headers {
      background: #fff;
      border-bottom: none;
      cursor: pointer; }
    .content .tabContainer p {
      font-size: 14px;
      color: #3B3738; }
    .content .tabContainer h2.header1 {
      width: 135px;
      padding: 4px;
      display: inline-block;
      margin: 0; }
    .content .tabContainer h2.header2 {
      width: 135px;
      padding: 4px;
      display: inline-block;
      margin: 0;
      text-align: center; }
    .content .tabContainer h2.header3 {
      width: 151px;
      padding: 4px;
      display: inline-block;
      margin: 0; }
    .content .tabContainer h2.header4 {
      width: 135px;
      padding: 4px;
      display: inline-block;
      margin: 0;
      text-align: center; }
    .content .tabContainer .open {
      display: inline;
      width: 100%; }
    .content .tabContainer .close {
      display: none; }
    .content .tabContainer .noBorder {
      border: 1px solid #BBBBBB;
      border-top: none;
      border-right: none;
      border-left: none; }
    .content .tabContainer .showBorder {
      border: 1px solid #BBBBBB;
      border-bottom: none; }
  .content .dinnerSelect {
    font-style: italic; }
  .content .beerList,
  .content .entreeList,
  .content .gameList {
    font-size: 18px;
    color: #C63D10;
    margin-top: 10px; }
  .content .menuItems {
    display: flex; }
    .content .menuItems .title {
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .content .menuItems .title:after {
      content: '.........................................................................................................................................................................................'; }
    .content .menuItems .price {
      flex-shrink: 0; }
  .content .menuLine {
    border: 1px solid #E0E0E0;
    margin-bottom: 0; }
  .content .menuLine2 {
    border: 3px solid #E0E0E0;
    margin-top: 2px; }

.photos {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #eeeeee;
  border: 1px solid #BBBBBB;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 100px; }
  .photos:last-child {
    margin-right: 0; }

.copyright {
  font-size: 0.7em; }
