html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

hr {
  border: none;
  border: 1px dotted #BBBBBB;
  margin-top: 15px;
  margin-bottom: 15px; }

ul {
  list-style: none;
  padding: 0; }

.container {
  width: 1000px;
  margin: 30px auto; }

header {
  overflow: hidden;
  width: 1000px; }
  header .logo {
    float: left;
    width: 300px; }
    header .logo img {
      padding-top: 15px;
      width: 400px; }
  header .socialmedia {
    float: right;
    width: 300px;
    height: 100px;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB; }

.banner {
  overflow: hidden;
  width: 1000px; }
  .banner img {
    width: 1000px; }

.stuff {
  margin-top: 12px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .stuff::after {
    clear: both;
    content: "";
    display: table; }
  .stuff .news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 200px;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB;
    border: 1px solid #BBBBBB; }
    .stuff .news:last-child {
      margin-right: 0; }
  .stuff .special {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 200px;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB; }
    .stuff .special:last-child {
      margin-right: 0; }
  .stuff .location {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 200px;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB; }
    .stuff .location:last-child {
      margin-right: 0; }
    .stuff .location .location h4 {
      text-align: center;
      font-weight: none; }
    .stuff .location .location p {
      text-align: center;
      font-size: 8px; }
    .stuff .location #map {
      width: 100%; }

.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB; }
    .content ul:last-child {
      margin-right: 0; }
    .content ul .hidden {
      display: none; }
  .content .photos {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: #eeeeee;
    border: 1px solid #BBBBBB;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 100px; }
    .content .photos:last-child {
      margin-right: 0; }

.copyright {
  font-size: 0.7em; }
