<!DOCTYPE html>
<html>
<head>
  <title>8-Bite</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="container">

  	<header>
  		<div class="logo"><img src="images/8bitburger.png"></div>
  		<div class="socialmedia">
  		  <ul>
          <li class="brandico-facebook"></li>
          <li class="brandico-twitter-bird"></li>
          <li class="brandico-instagram"></li>
        </ul>
  		</div>
  	</header>
  	<hr>
  	<banner>
  		<div class="banner"><img src="images/banner.jpg"></div>
  	</banner>

  	<div class="stuff">
      <div class="news">
        <script type="text/template" id="news">
          <p><%= title %></p>
          <p><%= date_published %></p>
          <p><%= post %></p>
        </script>
      </div>
  		<div class="special">
        <script type="text/template" id="special">
        </script>
  		</div>
  		<div class="location">
  		location
  		</div>
  	</div>

  	<div class="content">
  		<ul>
	  		<li class="story hidden">
	  		story
	  		</li>
	  		<li class="menu">
          <script type="text/template" id="menu">
            <p><%= menu.Beer %></p>
          </script>
	  		</li>
	  		<li class="reservations hidden">
	  		reservation
	  		</li>
	  		<li class="review hidden">
	  		review
	  		</li>
  		</ul>

  		<div class="photos">
  		Food Photos
  		</div>
  	</div>



  	<footer>
  	<hr>
  	<span class="copyright">&copy; 2015 8-Bite.</span>
  	</footer>

  </div>

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
