@import 'bourbon/bourbon';
@import 'neat/neat';
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//cool colors
$darkgrey: #3B3738;
$offwhite: #FDF3E7;
$midgrey: #454545;
$lightgrey: #BBBBBB;
$redorange: #C63D10;
$grayBorder: #E0E0E0;

hr {
	border: none;
	border: 1px dotted $lightgrey;
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 30px auto;
}
header {
	overflow: hidden;
	width: 1000px;
	.logo {
		float: left;
		width: 300px;
		img {
			padding-top: 15px;
			width: 400px;
		}
	}
	.socialmedia {
		float: right;
		width: 250px;
		height: 100px;
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
		text-align: center;
		li {
			display: inline-block;
			color: $redorange;
			font-size: 3em;
			padding: 10px;
		}
	}
}

.banner {
	overflow: hidden;
	width: 1000px;
	img {
		width: 1000px;
	}
}

.stuff {
	margin-top: 12px;
	@include outer-container(100%);
	.news {
		padding-left: 10px;
		padding-right: 10px;
		overflow: scroll;
		@include span-columns(4);
		height: 225px;
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
		border: 1px solid $lightgrey;
	}
		.special {
		padding-left: 10px;
		padding-right: 10px;
		@include span-columns(4);
		height: 225px;
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
	}
		.location {
		padding-left: 10px;
		padding-right: 10px;
		@include span-columns(4);
		height: 225px;
		border: 1px solid red;

		#resAddr {
			text-align: center;
			font-size: 12px;
		}

		#telFax {
			text-align: center;
			font-size: 12px;

		}

		#map {
			border: 1px solid $lightgrey;
			width: 280px;
			height: 90px;
			margin-left: auto;
			margin-right: auto;
		}

		

		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
	}
}

.content {
	@include outer-container(100%);
	
	.tabContainer {
		@include span-columns(9);
		// background-color: lighten($lightgrey, 20%);
		// border: 1px solid $lightgrey;
		display: inline;
		margin-top: 30px;

		.headers {
			background: #fff;
			border-bottom: none;
			cursor: pointer;
		}

		p {
			font-size: 14px;
			color: $darkgrey;
		}

		h2.header1 {
			width: 135px;
			padding: 4px;
			display: inline-block;
			margin: 0;
		}
		h2.header2 {
			width: 135px;
			padding: 4px;
			display: inline-block;
			margin: 0;
			text-align: center;

		}
		h2.header3 {
			width: 151px;
			padding: 4px;
			display: inline-block;
			margin: 0;
		}
		h2.header4 {
			width: 135px;
			padding: 4px;
			display: inline-block;
			margin: 0;
			text-align: center;
		}

		.open {
			display: inline;
			width:100%;
		}
		.close {
			display: none;
		}

		.noBorder {
			border: 1px solid $lightgrey;
			border-top: none;
			border-right: none;
			border-left: none;
		}
		.showBorder {
			border: 1px solid $lightgrey;
			border-bottom: none;
		}

	}

//The Menu Items

	.dinnerSelect {
		font-style: italic;
	}

	.beerList,
	.entreeList,
	.gameList {
		font-size: 18px;
		color: $redorange;
		margin-top: 10px;
	}	

		.menuItems {
			display: flex;

			.title {
				font-size: 14px;
				font-weight: bold;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
				.title:after {
					content: '.........................................................................................................................................................................................'
				}

			.price {
				flex-shrink: 0;
			}
	
}
		.menuLine {
			border: 1px solid $grayBorder;
			margin-bottom: 0;
		}
		.menuLine2 {
			border: 3px solid $grayBorder;
			margin-top: 2px;
		}
	}


	
	.photos {
		@include span-columns(3);
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
		height: 200px;
		margin-top: 15px;
		margin-bottom: 100px;
		}

.copyright {
		font-size: 0.7em;
}