@import 'bourbon/bourbon';
@import 'neat/neat';
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

//cool colors
$darkgrey: #3B3738;
$offwhite: #FDF3E7;
$midgrey: #454545;
$lightgrey: #BBBBBB;
$redorange: #C63D10;
$grayBorder: #E0E0E0;

hr {
	border: none;
	border: 1px dotted $lightgrey;
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 30px auto;
}
header {
	overflow: hidden;
	width: 1000px;
	.logo {
		float: left;
		width: 300px;
		img {
			padding-top: 15px;
			width: 400px;
		}
	}
	.socialmedia {
		float: right;
		width: 250px;
		height: 100px;
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
		text-align: center;
		li {
			display: inline-block;
			color: $redorange;
			font-size: 3em;
			padding: 10px;
		}
	}
}

.banner {
	overflow: hidden;
	width: 1000px;
	img {
		width: 1000px;
	}
}

.stuff {
	margin-top: 12px;
	@include outer-container(100%);
	.news {
		padding-left: 10px;
		padding-right: 10px;
		overflow: scroll;
		@include span-columns(4);
		height: 225px;
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
		border: 1px solid $lightgrey;
	}
		.special {
		padding-left: 10px;
		padding-right: 10px;
		@include span-columns(4);
		height: 225px;
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
	}
		.location {
		padding-left: 10px;
		padding-right: 10px;
		@include span-columns(4);
		height: 225px;
		border: 1px solid red;

		#resAddr {
			text-align: center;
			font-size: 12px;
		}

		#telFax {
			text-align: center;
			font-size: 12px;

		}

		#map {
			border: 1px solid $lightgrey;
			width: 280px;
			height: 90px;
			margin-left: auto;
			margin-right: auto;
		}

		

		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
	}
}

.content {
	@include outer-container(100%);
	
	.tabContainer {
		@include span-columns(9);
		background-color: lighten($lightgrey, 20%);
		// border: 1px solid $lightgrey;
		display: inline;

		h2.header1 {
			border: 1px solid $grayBorder;
			border-top: none;
			border-left: none;
			width: 135px;
			padding: 4px;
			display: inline-block;
			margin: 0;
		}
		h2.header2 {
			border: 1px solid $grayBorder;
			border-bottom: none;
			width: 135px;
			padding: 4px;
			display: inline-block;
			margin: 0;
		}
		h2.header3 {
			border: 1px solid $grayBorder;
			border-bottom: none;
			width: 151px;
			padding: 4px;
			display: inline-block;
			margin: 0;
		}
		h2.header4 {
			border: 1px solid $grayBorder;
			border-top: none;
			border-right: none;
			width: 135px;
			padding: 4px;
			display: inline-block;
			margin: 0;
		}

		.open {
			display: inline;
			width:100%;
		}
		.close {
			display: none;
		}
	}

	.photos {
		@include span-columns(3);
		background-color: lighten($lightgrey, 20%);
		border: 1px solid $lightgrey;
		height: 200px;
		margin-top: 15px;
		margin-bottom: 100px;
		}
}
.copyright {
		font-size: 0.7em;
}