.container {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid red;
}
header {
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
	.logo {
		float: left;
		width: 300px;
		height: 100px;
		border: 1px solid red;
	}
	.socialmedia {
		float: right;
		width: 300px;
		height: 100px;
		border: 1px solid red;
	}
}

.banner {
	width: 1000px;
	height: 300px;
	border: 1px solid red;
}
